.login-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
}

.logo {
  position: relative;
  top: -90px;
  right: -10px;
}

.input-container {
  position: relative;
  text-align: center;
  top: -50px;
  width: 80%;
}

.u-input {
  box-sizing: border-box;
  margin: 6px 0;
  padding: 7px 18px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  background: #f7f7f7;
}

.u-must {
  color: #e31436;
  font-size: 10px;
  vertical-align: super;
}

.u-label {
  text-align: left;
}

.login-btn {
  margin-top: 20px;
  padding: 7px 20px;
  width: 100%;
  border: 1px;
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
  background: #e31436;
}

.login-notify {
  position: absolute;
  bottom: 50px;
  padding: 5px;
  background: #eaeae6;
}
