.musicplay-stick {
  position: absolute;
  left: calc(50% - 20px);
  top: -5px;
  width: 90px;
  transition: all .3s;
  transform-origin: 0 0;
  z-index: 2;
}

.musicplay-wrapper {
  position: relative;
  height: 100%;
}

.musicplay-banner {
  position: absolute;
  top: 88px;
  left: 50%;
  width: 230px;
  padding: 44px;
  transform: translateX(-50%);
  background: url('../../../static/images/cdwrapper.png');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
}

.musicplay-banner img {
  width: 100%;
  border-radius: 100%;
  animation: rotate 8s linear infinite;
  animation-play-state: running;
}

.musicplay-bar {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  margin: 10px 0px;
}

.musicplay-bar>div {
  flex: 1;
  align-self: center;
  text-align: center;
}

.blur-bg-banner {
  height: 100%;
  filter: blur(50px) brightness(50%);
  background: url('../../../static/images/songplaceholder.png');
}

.musicplay-btn-wrapper {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px #fff solid;
  border-radius: 100%;
}

.musicplay-btn-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@keyframes rotate
{
  from {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
}

.musicplay-progress-bar {
  position: absolute;
  bottom: 60px;
  display: flex;
  width: 100%;
  padding: 0 25px;
  color: #bfbfbf;
  font-size: 12px;
  box-sizing: border-box;
}

.musicplayer-track-wrapper {
  position: relative;
  flex: 1;
  align-self: center;
}

.musicplayer-track {
  margin: 0 16px;
  height: 1px;
  background: #bfbfbf;
}

.musicplayer-thumb {
  position: absolute;
  width: 3px;
  height: 3px;
  border: 4px #fff solid;
  border-radius: 100%;
  background: #d43c33;
  top: -6px;
  left: 16px;
  transition: left .3s;
}

.musicplay-progress-bar span {
  display: inline-block;
  width: 25px;
}

.musicplayer-bar-btn {
  width: 25px;
  height: 25px;
}

.lyric {
  position: absolute;
  height: calc(100% - 100px);
  width: calc(100% - 20px);
  margin: 0 10px;
  overflow: hidden;
  z-index: 1;
  text-align: center;
  font-size: 14px;
  color: #c7c4c4;
  opacity: 0;
  overflow: auto;
}

.current {
  color: #fff;
}

.circle-banner {
  opacity: 1;
}