.songsheet-nav {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  padding: 0 8px;
}

.songsheet-nav-btn {
  display: inline-block;
  color: #413f3f;
}

.songsheet-nav-btn label {
  border: 1px solid #c7c4c4;
  border-radius: 17px;
  padding: 2px 12px 2px 16px;
}

.songsheet-nav-type {
  float: right;
  margin: 0;
  color: #7d7a7a;
}

.songsheet-nav-type li:nth-child(1n+2)::before {
  content: '|';
  margin: 0 8px;
}

.songsheet-nav-type li {
  display: inline-block;
}