.title-link {
  display: table-cell;
  vertical-align: middle;
  height: 35px;
  padding: 10px 0 5px 10px;
  color: #333;
  font-size: 14px;
}

.icon-to-right {
  position: relative;
  top: 1px;
  padding-left: 6px;
  width: 11px;
}