body, html, #app, .container  {
  margin: 0;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-subpage {
  padding-top: 71px;
}

.other-subpage {
  padding-top: 37px;
  height: 100%;
  box-sizing: border-box;
}

.page {
  margin-bottom: 45px;
}

.banner {
  width: 100%;
}

.clearfix {
  clear: both;
}

.inline-btn {
  width: 10px;
  padding-left: 3px;
}

.fade-page {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

.loading {
  padding: 10px;
  text-align: center;
}